.main-about{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 300px;

}
.about{
    width: 100%;
    height: 300px;
    background: var(--wht);
}
.all-about{
    text-align: center;
}
.def{
    width: 300px;
    color: var(--blk);
    margin-top: 10px;
}
.titles-about h3{
    margin-top: 20px;
    color: var(--aqua2);
    font-weight: 400;
}





@media screen and (max-width: 768px) {
    .about{
        height: 750px;
    }
    .main-about{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        position: relative;
        top: 15px;
    }
}