.solution{
    /* background: var(--gret); */
    width: 100%;
    height: 800px;   
}
.solution-box{
    display: flex;
    align-items: center;
    height: 800px;
    flex-direction: column;
}
.title-solution{
    display: flex;
    justify-content: center;
}
.title-solution h1{
    color: var(--blk);
    font-weight: 500;
    position: relative;
    top: 20px;
}
.main-solution{
    display: flex;
    height: 500px;
    column-gap: 20px;
    flex-wrap: wrap;
    width: 1100px;
    position: relative;
    left: 13.2%;
}
.fds{
    display: flex;
    height: 450px;
    position: relative;
    top: 100px;
    width: 100%;
}
.decr{
    width: 280px;
    position: relative;
    top: 20px;
    color: var(--wht);
}
.all-solution{
    height: 250px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}
.title-soll{
    position: relative;
    top: 10px;
    color: var(--wht);
    font-weight: 500;
}







@media screen and (max-width: 768px) {
    .solution{
        height: 500px;
    }
    .title-solution{
        font-size: 14px;
        text-align: center;
    }
    .fds{
        overflow-x: scroll;
        height: 265px;
        overflow-y: hidden;
    }
    .main-solution{
        flex-wrap: nowrap;
    }
    .fds::-webkit-scrollbar{
        height: 6px;
        border-radius: 5px;
        background: var(--hgf);
    }
    .fds::-webkit-scrollbar-thumb{
        height: 6px;
        background: var(--aqua);
        border-radius: 10px;
    }
}